:root {
    scroll-behavior: smooth;
    border-bottom: 5px solid var(--primary);
}

* {
    --primary: rgb(16 16 128);
    --primary-darker: rgb(8 8 64);
    --secondary: rgb(26 83 150);
    --back: rgb(200 200 200);
    --on-back: rgb(16 16 16);
    --alt-back: rgb(210 210 210);
    --hover: rgb(220 220 220);
}

*::selection {
    color: rgba(255, 255, 255, 90%);
}

body {
    perspective: 1000px;
    background-color: var(--back);
    color: var(--on-back);
    font-family: Arial, serif;
    font-weight: bold;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    margin: 0;
}

#main {
    margin: 50px 25px;
}

*::selection {
    background: var(--secondary);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:link {
    color: var(--primary);
}

a:visited {
    color: var(--primary-darker);
}

h1 {
    margin-top: 0;
}

h2 span, h3 span, h4 span, h5 span, h6 span {
    color: var(--primary);
    background-color: var(--alt-back);
    transition: background-color 0.5s ease-out;

    --notch-size: 10px;
    clip-path: polygon(
            0% var(--notch-size),
            var(--notch-size) 0%,
            calc(100% - var(--notch-size)) 0%,
            100% var(--notch-size),
            100% calc(100% - var(--notch-size)),
            calc(100% - var(--notch-size)) 100%,
            var(--notch-size) 100%,
            0% calc(100% - var(--notch-size))
    );
    padding: 15px 35px;
    text-align: center;
}

table thead {
    color: var(--secondary);
    background-color: var(--alt-back);
}

td, th {
    padding: 10px;
    border-bottom: var(--alt-back) solid 3px;
}

td:nth-child(2), th:nth-child(2) {
    border-left: var(--alt-back) solid 3px;
}

tr:last-child td {
    border-bottom: none;
}

h2 span:hover, h3 span:hover, h4 span:hover, h5 span:hover, h6 span:hover {
    background-color: var(--hover);
}

li {
    line-height: 2em;
}

*::marker {
    color: var(--secondary);
}

ul.vertical-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.vertical-list-item {
    display: inline-block;
    padding: 5px 30px;
    margin-bottom: 5px;
}

.title {
    margin-top: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.justify-text {
    text-align: justify;
}

.no-bullet-list {
    list-style-type: none;
    padding-left: 0;
}

.cut-corner {
    --notch-size: 10px;
    clip-path: polygon(
            0% var(--notch-size),
            var(--notch-size) 0%,
            calc(100% - var(--notch-size)) 0%,
            100% var(--notch-size),
            100% calc(100% - var(--notch-size)),
            calc(100% - var(--notch-size)) 100%,
            var(--notch-size) 100%,
            0% calc(100% - var(--notch-size))
    );
}

.card {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 75%;
    margin: 25px auto;
    background: linear-gradient(var(--alt-back), var(--back));
    border-radius: 5px;
    transition: transform 0.5s ease-out;
    box-shadow: -5px 10px 20px var(--alt-back), inset 5px 5px 5px var(--alt-back);
}

.card > * {
    text-shadow: 1px 1px 0 var(--alt-back);
}

.card-top {
    display: flex;
    padding: 10pt 10pt 0;
    justify-content: center;
}

.card-row {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10pt 10pt 0;
}

.card-bottom {
    display: flex;
    flex-flow: column;
    font-size: 10pt;
    padding: 0 0 10pt;
    text-align: center;
}

.credit {
    font-size: 10pt;
    margin-top: 200px;
    text-align: center;
}

.profile-pic {
    border-radius: 25%;
    width: 33%;
    height: 33%;
}

.profile-header {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 5pt 0;
}

.profile-info {
    margin-right: 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}