:root {
    scroll-behavior: smooth;
    border-bottom: 5px solid var(--primary);
}

* {
    --primary: rgb(0, 64, 96);
    --primary-darker: rgb(0 32 64);
    --secondary: rgb(32, 128, 128);
    --back: rgb(190, 215, 215);
    --on-back: rgb(0 16 32);
    --alt-back: rgb(200 225 225);
    --hover: rgb(210 235 235);
}

*::selection {
    color: rgba(255, 255, 255, 90%);
}

body {
    perspective: 1000px;
    background-color: var(--back);
    color: var(--on-back);
    font-family: Arial, serif;
    font-weight: bold;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    margin: 0;
}

#main {
    margin: 25px 25px;
}

*::selection {
    background: var(--secondary);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:link {
    color: var(--primary);
}

a:visited {
    color: var(--primary-darker);
}

h1 {
    margin-top: 0;
    color: var(--primary);
    text-shadow: var(--secondary) 1px 1px 3px;
    font-size: 40pt;
}

h2 {
    color: var(--primary);
    text-shadow: var(--secondary) 1px 1px 3px;
}

h2 span, h3 span, h4 span, h5 span, h6 span {
    color: var(--primary);
    background-color: var(--alt-back);
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
    border-radius: 15px;
    padding: 15px 35px;
    text-align: center;
}

h2 span:hover, h3 span:hover, h4 span:hover, h5 span:hover, h6 span:hover {
    background-color: var(--hover);
    color: var(--secondary);
}

table thead {
    color: var(--secondary);
    background-color: var(--alt-back);
}

td, th {
    padding: 10px;
    border-bottom: var(--alt-back) solid 3px;
}

td:nth-child(2), th:nth-child(2) {
    border-left: var(--alt-back) solid 3px;
}

tr:last-child td {
    border-bottom: none;
}

li {
    line-height: 2em;
}

*::marker {
    color: var(--secondary);
}

ul.vertical-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.vertical-list-item {
    display: inline-block;
    padding: 5px 30px;
    margin-bottom: 5px;
}

.title {
    margin-top: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.justify-text {
    text-align: justify;
}

.no-bullet-list {
    list-style-type: none;
    padding-left: 0;
}

.cut-corner {
    --notch-size: 10px;
    clip-path: polygon(
            0% var(--notch-size),
            var(--notch-size) 0%,
            calc(100% - var(--notch-size)) 0%,
            100% var(--notch-size),
            100% calc(100% - var(--notch-size)),
            calc(100% - var(--notch-size)) 100%,
            var(--notch-size) 100%,
            0% calc(100% - var(--notch-size))
    );
}

.card {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    background: linear-gradient(var(--alt-back), var(--back));
    border-radius: 15px;
    box-shadow: -5px 10px 20px var(--alt-back), inset 5px 5px 5px var(--alt-back);
}

.card > * {
    text-shadow: 1px 1px 0 var(--alt-back);
}

.card-top {
    display: flex;
    padding: 10pt 10pt 0;
    justify-content: center;
}

.card-row {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    padding: 10px 10px 0;
}

.card-bottom {
    display: flex;
    flex-flow: column;
    font-size: 10pt;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.credit {
    font-size: 10pt;
    margin-top: 200px;
    text-align: center;
}

.profile-pic {
    border-radius: 15%;
    width: 25%;
    height: 25%;
}

.profile-header {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 5pt 0;
}

.profile-info {
    margin-right: 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}